version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: hospital-db
    environment:
      POSTGRES_DB: hospital_db
      POSTGRES_USER: hospital_user
      POSTGRES_PASSWORD: hospital_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U hospital_user -d hospital_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      restart: unless-stopped

volumes:
  postgres_data:
